<div>
  <form class="form">
    <mat-form-field class="example-full-width">
      <input matInput 
            placeholder="Input string..."  
            [(ngModel)]="string"
            name="string" />
    </mat-form-field>
  </form>
  <hr>
  <app-reverse-string text="{{string}}"></app-reverse-string>
  <hr>
  <app-upper-case text="{{string}}"></app-upper-case>
  <hr>
  <app-find-index-position text="{{string}}"></app-find-index-position>
  <hr>
  <app-ellipsis text="{{string}}"></app-ellipsis>
</div>  
