
<mat-sidenav-container class="Shell" (backdropClick)="sidenav.toggle()">
  <div class="photo-wrapper" (click)="sidenav.toggle()">
    <i class="material-icons">menu</i>
  </div>
  <mat-sidenav class="shell--sidebar" #sidenav disableClose>
    <div class="sidebar--link-container">
      <mat-nav-list>
        <mat-list-item routerLink="/home/page-one">
          <span class="link">Page One</span>
        </mat-list-item>
        <mat-list-item routerLink="/home/page-two">
          <span class="link">Page Two</span>
        </mat-list-item>
      </mat-nav-list>
    </div>

  </mat-sidenav>
  <div>
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>