/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@include mat-core();

$residential-app-primary: mat-palette($mat-deep-orange);
$residential-app-accent:  mat-palette($mat-deep-orange, A200, A100, A400);

$residential-app-warn:    mat-palette($mat-red);

$residential-app-theme: mat-light-theme($residential-app-primary, $residential-app-accent, $residential-app-warn);

@include angular-material-theme($residential-app-theme);

@import 'assets/styles/modules/shell.scss';