<div>
  <form class="form">
    <mat-form-field class="example-full-width">
      <input matInput 
            placeholder="Set interval by seconds"  
            [(ngModel)]="timer"
            name="timer" 
            (change)="chartReinitialize()"
            NumberOnly="true"/>
    </mat-form-field>
  </form>
  <mat-card *ngIf="data?.length === 0">
    Loading data...
  </mat-card>
  <div id="main" style="width: 600px;height:400px;"></div>
</div>
